<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['clientes']">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contabilidad']">Contabilidad</a>
            </li>

            <li>

                <button (click)="addUser()">Usuarios</button>
                <button (click)="addPrice()">Precios</button>
                <button (click)="addInfo()">Datos Fiscales</button>
            </li>
        </ul>
     
    </div>
    
</nav>