<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px"  class="grafica">
    <div fxFlex="75">
        <ngx-charts-number-card fxFlex="72" [scheme]="colorScheme" [results]="dataInvoicing" [cardColor]="cardColor">
        </ngx-charts-number-card>
    </div>
    <div fxFlex="25">
        <ngx-charts-number-card [cardColor]="cardColor" [results]="dataTotal">
        </ngx-charts-number-card>
    </div>

</div>
<ng-container *ngIf="!checked; else elseTemplate">
    <mat-form-field>
        <mat-label>Introduce fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateInvoicing">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button (click)="getInvoicingToday()" mat-raised-button color="primary">Buscar</button>
</ng-container>
<ng-template #elseTemplate>
    <mat-form-field>
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="pickerFirst" [(ngModel)]="dateFirst">
        <mat-datepicker-toggle matSuffix [for]="pickerFirst"></mat-datepicker-toggle>
        <mat-datepicker #pickerFirst></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Fecha final</mat-label>
        <input matInput [matDatepicker]="pickerSecond" [(ngModel)]="dateSecond">
        <mat-datepicker-toggle matSuffix [for]="pickerSecond"></mat-datepicker-toggle>
        <mat-datepicker #pickerSecond></mat-datepicker>
    </mat-form-field>
    <button (click)="getInvoicingOnePeriod()" mat-raised-button color="primary">Buscar</button>
</ng-template>
<mat-slide-toggle class="example-margin" [(ngModel)]="checked">
</mat-slide-toggle>